/* Start Andy Bell's Latest (September 18th, 2023) CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Finish Andy Bell's latest (September 18th, 2023) CSS Reset */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  min-height: 100svh;
  background: hsl(204, 43%, 93%);
  margin: 0 30px 0;
}

h1,
h2
{
  margin: 0;
}

.join-community, .monthly-subscription, .why-us {
  padding: 1.5rem;
  }

.join-community {
  background: white;
  padding-bottom: 2rem;
}

.monthly-subscription {
  background: hsl(179.2,68.9%,41.6%);
  padding-bottom: 1.5rem;
}

.price-per-month {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  }

.monthly-subscription, .why-us {
  color: white;
  }
  
.why-us {
  background: hsl(179.5,46.3%,51.8%);
/* margin: 0; */
}


.sign-up {
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  background: hsl(71, 73%, 54%);
  color: white;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  padding: 0.75rem 0;
  text-decoration: none;
  
  
  }


@media only screen and (min-width: 51rem) {
  
  main {
    max-width: 50rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr);    /* Two rows */
}
  
  .join-community {
    grid-column: 1 / 3;
 }
}
