/* Start Andy Bell's Latest (September 18th, 2023) CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Finish Andy Bell's latest (September 18th, 2023) CSS Reset */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  min-height: 100svh;
  background: hsl(204, 43%, 93%);
  margin: 0 30px 0;
}

h1,
h2
{
  margin: 0;
}

.join-community, .monthly-subscription, .why-us {
  padding: 1.5rem;
  }

.join-community {
  background: white;
  padding-bottom: 2rem;
}

.monthly-subscription {
  background: hsl(179.2,68.9%,41.6%);
  padding-bottom: 1.5rem;
}

.price-per-month {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  }

.price-amount {
  font-size: 2.5rem;
  font-weight: 700;
}

.monthly-subscription, .why-us {
  color: white;
  }
  
.why-us {
  background: hsl(179.5,46.3%,51.8%);
/* margin: 0; */
}


.sign-up {
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  background: hsl(71, 73%, 54%);
  color: white;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  padding: 0.75rem 0;
  text-decoration: none;
  
  
  }


@media only screen and (min-width: 51rem) {
  
  main {
    max-width: 50rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr);    /* Two rows */
}
  
  .join-community {
    grid-column: 1 / 3;
 }
}
